.contenido{
    width: 100%;
    
}

.justificado{
    font-size: 12px;
    text-align: justify;
    margin-left: 5%;
    margin-bottom: 3%;
}

.centrado{
    text-align: center;
    color:red;
}

footer { 
    display: block;
    background-color: #565656;
    color: #fff;
    position: absolute;
    width: 100%;
    height: 75px;  
}

.div_centrado{
    margin: auto;
    width: 90%;
    /*border: 3px solid #73AD21;*/
    padding: 10px;
    margin-bottom: 8%;
    margin-top: 5%;
    /*background-color: #e3e4e6;*/
    background-color: #eef0f3d6;
}

.imagen_perfil{
    height: 100px;
}
body:before {
  content: '';
  position: absolute;
  
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /*background-image: url(bg.png);*/
  background-image: url(inicio2.png);
  background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  opacity: .3;
}

.imagen_receta{
    width: 60px;
    border-radius: 50%;
    height: 60px;
  }

.imagen_edicion{
    width: 90px;
    border-radius: 50%;
    height: 90px;
  }

  .custom-file-input ~ .custom-file-label::after {
    content: "Imagen";
}